<div class="flex container bg-dark text-light vh-100">
    <div class="row h-100">
      <div class="col-12 h-50">
        <shared-jumbotron 
            [lines]="['Erick Fernando Mora Ramirez', 'Software developer']"
            [links]="[
            {
                name: 'Github',
                location: 'https://github.com/codeRookieErick'
            },
            {
                name: 'Nuget',
                location: 'https://www.nuget.org/profiles/codeRookieErick'
            },
            {
                name: 'Pypi',
                location: 'https://pypi.org/user/erick.mora'
            },
            {
                name: 'Resume',
                location: 'https://drive.google.com/drive/folders/164DI5lazSDvE8u5chMXRwJBG69kRwAc6?usp=share_link'
            },
            ]"
            ></shared-jumbotron>
      </div>
      <div class="col-12 col-sm-6 vh-50">
        <shared-bio-list></shared-bio-list>
      </div>
      <div class="col-12 col-sm-6 vh-50">
        <div class="d-flex flex-column align-items-center">
            <div class="align-self-center">Working really hard</div>
            <div class="align-self-center">on this one</div>
        </div>
      </div>
    </div>
  </div>